.styled-table {
    border-collapse: collapse;
    margin: auto;
    font-size:0.9em;
    font-family:sans-serif;
    max-width:800px;
    box-shadow: 0 0 20px rgba(42, 70, 10, 0.3)
}

.styled-table thead tr{
 background-color:rgb(64, 143, 132);
 color:azure;
 text-align: left;
}

.styled-table th,
.styled-table td{
    padding:8px 20px
}

.styled-table tbody tr{
    border-bottom: 1px solid rgb(90, 90, 90);
}

.styled-table tbody tr:nth-of-type(even){
    background-color: rgb(182, 197, 191);
}

.styled-table tbody tr:last-of-type{
    border-bottom: 2px solid rgba(45, 117, 93, 0.945);
}

.btn{
    border:none;
    color:white;
    padding:5px 8px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    border-radius: 5px;
    font-size:16px;
    margin:4px 2px;
    cursor:pointer;

}

.btn-edit {
    background-color: #008cba;
}
.btn-delete{
    background-color: #f44336;
}
.btn-view{
    background-color:#e7e7e7;
    color:black
}

.btn-contact{
    background-color: #e82764;
    margin-bottom: 10px;
}
.btn-next {
   
    align-content: center;
    background-color: #008cba;
}
.paragraph{
    color:#008cba;
    font-size: large; 
  font-weight: bold; 
}
